{% extends "layout.njk"%}

{% block content %}
    <div class="content">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="">
        <h1>Rocketseat</h1>
        <p> A Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p>
    </div>

    <div class="lista">
        <h2>🚀 Principais tecnologias utilizadas:</h2>
        <ul>
            <li title="Javascript"><img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt=""></li>
            <li title="Javascript ES6+"><img src="https://rocketseat.com.br/static/images/update/curso-javascript-es6.svg" alt=""></li>
            <li title="NodeJS"><img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt=""></li>
            <li title="ReactJs"><img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt=""></li>
            <li title="React Native"><img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt=""></li>
        </ul>
    </div>
    <section class="footer">
        <div id="footer" class="links">
            <a href="https://www.facebook.com/rocketseat/" target="_blank"><img src="/icones/icone-face.svg" alt="face"></a>
            <a href=  "https://www.instagram.com/rocketseat_oficial" target="_blank" ><img src="/icones/icone-insta.svg" alt="insta"></a>
            <a href="https://github.com/Rocketseat"target="_blank" ><img style="height: 40px; padding-bottom: 5px" src="/icones/icone-git.svg" alt="git"></a>
        </div>
    </section>
{% endblock %}