{% extends "layout.njk"%}

{% block content %}
    
    <img class="not-found" src="https://png.pngtree.com/png-clipart/20190419/ourlarge/pngtree-neon-error-404-page-png-image_943920.jpg" alt="">
    
{% endblock %}