@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap;";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Roboto;
    color: white;
    background-image: url("https://c.wallhere.com/photos/7c/39/Adventure_Time_cartoon-107037.jpg!d") ;
    background-repeat: no-repeat;
    background-size: cover;
    
       
}

.link-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    margin: auto;
    padding: 5px;
}
.link-home a{
    
    font-family: roboto ;
    font-size: 20px;
    margin: 0 32px;
    color: rgb(158, 79, 231);
    text-decoration: none;
}
.link-home a:hover{
    color: white;
    transition: 200ms;
}
header{

    padding: 10px 150px;
    background: rgba(6, 9, 10, 0.65);
    border-bottom: 1px solid #333;
}
.links{
    align-items: center;
    max-width: 600px;
    line-height: 30px;
    margin: auto;
    padding: 40px;
    text-align: center;
}
.links a{

    font-family: roboto ;
    font-size: 18px;
    margin: 0 32px;
    color: rgb(158, 79, 231);
    text-decoration: none;
}
.footer{
    position: fixed bottom;
    background-color: rgba(6, 9, 10, 0.5);
    padding-bottom: 15px;
}
#footer{
    margin-top: 3%;
    padding: 0;
}
#footer a{
    font-size: 20px;
    font-style: inherit;
    color: black;
    border-bottom: 1px solid white;
}

#footer a:hover{
    color: rgb(255, 255, 255);
    transition: 200ms;
 
}
#footer a img{
    height: 70px;
} 
.links a:hover{
    color: white;
    transition: 200ms;
}

.content{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2%;
}
.content h1{
    font-size: 40px;
    
}
.content p{
    font-size: 18px;
    margin: 10px auto;
    max-width: 600px;
    line-height: 30px;
}
.content img{
    height: 160px;
    border-radius: 50%;
    border: 5px solid rgb(229, 255, 0);
}
.lista{
    display:inline;
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
}
.lista h2{
    margin-bottom: 2%;
}
.lista ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
.lista ul li{
    margin: 0 10px;
    display: inline;
}
.lista ul li img{
    height: 70px;
}

/* CARD CURSOS */

.cards-curso{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    max-width: 1300px;
    margin: 0 auto;
    height: 700px;

    

}
.curso{
    display: grid;
    align-items: center;

    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(6, 9, 10, 0.9);
    border: 1px solid #333;
    color: #333;

    padding: 50px;
    height: 550px;
    max-width: 350px;
    margin-top: 5vh;
}
.curso.um:hover{
    transition: 200ms;
    margin-top: 30px;
    border-color: rgb(158, 79, 231);
}
.curso.dois:hover{
    transition: 200ms;
    margin-top: 30px;
    border-color:rgb(253, 149, 31);
}
.curso.tres:hover{
    transition: 200ms;
    margin-top: 30px;
    border-color: rgb(4, 211, 97);
}    
.curso-image{
    
    margin-top: 30%;
}
.curso span{
    margin: 0 auto;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
}
.curso .span01{
    color: rgb(113, 89, 193);
}
.curso .span02{
    color: rgb(253, 149, 31);;
}
.curso .span03{
    color: rgb(4, 211, 97);
}
.curso-info{
    color: rgb(104, 95, 95);
    font-size: 18px;
}
.curso-info .modulos{
    margin-top: 5vh;
    color:rgb(187, 181, 181);
}
.modulos .st01{
    color: rgb(158, 79, 231);
}
.modulos .st02{
    color: rgb(253, 149, 31);
}
.modulos .st03{
    color: rgb(4, 211, 97);
}

/* ===Modal=== */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;

    width: 80%;
    height: 80%;
    margin: 10vh auto;

    border-radius: 5px;

    position: relative; /* Ele faz com que ele respeite a div-filho com posição absoluta */
}
.modal .close-modal{
    color: black;

    position: absolute;
    right: 3px;
    top: 3px;

    cursor: pointer;
}
.modal .max{
    color: black;

    position: absolute;
    right: 30px;
    top: 3px;
    

    cursor: pointer;
}
/* == Modal.Maximize */

.modal.maximize{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 0;
    left: 0;
        
}

/* == Modal.ACTIVE == */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
section{
    position: relative;
}
iframe{
    width: 99.8%;
    height: 92%;
    position: absolute;
    top: 5%;
    left: 0.2%;
    

}

/* pagina not-found */

.not-found{
    height: 91vh;
    width: 100%;
    margin: 0 auto;
}